<nav class="py-6 lg:py-12 text-center">
    <div id="wcb" class="carbonbadge"></div>
    <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>	
    <p ><small >Made (temporarily) with ❤ in  <a href="https://en.wikipedia.org/wiki/South_Holland" >South Holland</a></small></p>
    <p ><small >inspired with ❤ by <a href="https://laszlotamas.com" >laszlotamas.com</a></small></p>
    <p ><small >hosted on <a href="https://m.do.co/c/f75a23e51f0e" >DigitalOcean</a>. </small></p>
    <div class="text-sm">&copy; {{ now format="Y" }} </div>
    <div class="flex items-center justify-center mt-4">
        {{ settings:social }}
            <a href="{{ url }}" class="ml-4" aria-label="{{ name }}" rel="noopener">
                {{ svg :src="icon" class="h-6 w-6 hover:text-hot-pink" }}
            </a>
        {{ /settings:social }}
    </div>
</nav>
